---
- name: Configure yarn
  hosts:
  - datanodes
  - namenodes
  - secondary_namenodes
  tasks:

  - name: Copy mapred-site.xml
    ansible.builtin.copy:
      src: ./mapred-site.xml
      dest: /home/hadoop/hadoop-3.4.1/etc/hadoop/mapred-size.xml
      owner: hadoop
      group: hadoop

  - name: Copy yarn-site.xml
    ansible.builtin.copy:
      src: ./yarn-site.xml
      dest: /home/hadoop/hadoop-3.4.1/etc/hadoop/yarn-size.xml
      owner: hadoop
      group: hadoop

- name: Start YARN
  hosts: namenodes
  tasks:
  - name: Start yarn
    ansible.builtin.shell: start-yarn.sh
    become: yes
    become_user: hadoop
    become_method: sudo
    become_flags: '-i'

  - name: Start mapred
    ansible.builtin.shell: mapred --daemon start historyserver
    become: yes
    become_user: hadoop
    become_method: sudo
    become_flags: '-i'

- name: Configure nginx
  hosts: jumpnodes
  vars:
    services:
    - {port: 8088, name: 'ya'}
    - {port: 19888, name: 'dh'}
    - {port: 9870, name: 'nn'}
    namenode: "{{ groups['namenodes'] | map('extract', hostvars, 'ansible_hostname') | first}}"
  tasks:
    - name: configure /etc/hosts
      lineinfile:
        dest: /etc/hosts
        regexp: ".*{{ hostvars[item]['ansible_hostname'] }}$"
        line: "{{ hostvars[item]['ansible_default_ipv4']['address'] }} {{ hostvars[item]['ansible_hostname'] }} {{hostvars[item]['ansible_fqdn'] }}"
        state: present
      with_items: "{{ groups['namenodes']}}"

    - name: Ensure installed nginx
      ansible.builtin.package:
        name:
          - nginx
        state: latest

    - name: Configure proxy
      ansible.builtin.template:
        src: ./nginx.j2
        dest: "/etc/nginx/sites-available/{{ item.name }}"
      with_items: "{{ services }}"
      notify: Restart nginx

    - name: Enable proxy
      ansible.builtin.file:
        src: "/etc/nginx/sites-available/{{ item.name}}"
        dest: "/etc/nginx/sites-enabled/{{ item.name }}"
        state: link
      with_items: "{{ services }}"
      notify: Restart nginx

  handlers:
    - name: Restart nginx
      service:
        name: nginx
        state: reloaded
