[Unit]
Description=HDFS
Requires=network.target

[Service]
Type=oneshot
ExecStart=/home/hadoop/hadoop-3.4.1/sbin/start-dfs.sh
ExecStop=/home/hadoop/hadoop-3.4.1/sbin/stop-dfs.sh
User=hadoop
RemainAfterExit=true

[Install]
WantedBy=multi-user.target
