[Unit]
Description=YARN
Requires=hdfs.service
Requires=yarn.service

[Service]
Type=simple
ExecStart=/home/hadoop/hadoop-3.4.0/bin/mapred historyserver
User=hadoop

[Install]
WantedBy=multi-user.target
