server {
        listen {{ item.port }} default_server;
        root /var/www/html;

        server_name _;

        location / {
                proxy_pass http://{{ namenode }}:{{ item.port }};
        }
}
